@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Tapestry&display=swap');

.leafy{
    background-color: #033f03;
}

.blacks{
    /* background-color: rgb(23, 75, 1); */
    background-image: linear-gradient(rgb(5, 17, 0),rgb(5, 17, 0),rgb(23, 75, 1));
}

.light_leafy{
    background-color: #b5f1be;
    /* background-color: #e8165c; */
}

.tapestry{
    font-family: 'Tapestry', cursive;
}

.comfortaa{
    font-family: 'Comfortaa', cursive;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wrapper{
display:grid;
height:100vh;
place-items:center
}